.new-records2-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.new-records2-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  position: relative;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7A003C;
}
.new-records2-container2 {
  top: 0px;
  right: 0px;
  width: 60%;
  height: auto;
  margin: auto;
  display: flex;
  opacity: 1;
  position: absolute;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-white);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 75px;
  padding-bottom: 5%;
}
.new-records2-prev {
  color: var(--dl-color-gray-black);
  font-size: 300%;
  align-self: center;
  margin-top: 10%;
}
.new-records2-savedExcercise {
  color: var(--dl-color-gray-500);
  font-size: 200%;
}
.new-records2-text {
  color: var(--dl-color-gray-black);
  font-size: 300%;
  align-self: center;
}
.new-records2-text4 {
  color: var(--dl-color-gray-black);
  font-size: 250%;
}
.new-records2-input {
  color: var(--dl-color-gray-black);
  width: 60%;
  font-size: 250%;
  border-color: var(--dl-color-gray-black);
  border-radius: 0px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.new-records2-text5 {
  color: var(--dl-color-gray-black);
  font-size: 250%;
}
.new-records2-textinput {
  color: var(--dl-color-gray-black);
  width: 60%;
  font-size: 250%;
  border-color: var(--dl-color-gray-black);
  border-radius: 0px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.new-records2-text6 {
  color: var(--dl-color-gray-black);
  font-size: 250%;
}
.new-records2-textinput1 {
  color: var(--dl-color-gray-black);
  width: 60%;
  font-size: 250%;
  border-color: var(--dl-color-gray-black);
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.error-message2 {
  color: red;
  display: none;
  margin-top: 30px;
}
.new-records2-container3 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.new-records2-button {
  color: var(--dl-color-gray-black);
  font-size: 150%;
  margin-top: var(--dl-space-space-twounits);
  padding-top: 10px;
  border-style: none;
  padding-left: 50px;
  border-radius: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  text-transform: uppercase;
  background-color: #FDBF57;
}

.new-records2-button1 {
  color: var(--dl-color-gray-black);
  font-size: 150%;
  margin-top: var(--dl-space-space-twounits);
  padding-top: 10px;
  border-style: none;
  padding-left: 50px;
  border-radius: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  text-transform: uppercase;
  background-color: #FDBF57;
}
.new-records2-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.new-records2-container5 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 40%;
  bottom: 0px;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: center;
  padding-left: 30px;
  justify-content: center;
}
.new-records2-text7 {
  color: var(--dl-color-gray-white);
  font-size: 300%;
}
.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  min-width:100%;
  height: 75px;
}

.navbar a {
  padding-top: 12px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  color: #f1f1f1;
  width:19.5%;
  height: 75px;
  padding-left: 7.5%;
}

.navbar a:hover {
  background: #FFD100;
  color: black;
  cursor: pointer;
}

.navbar a.active {
  background-color: #ac1455;
  color: white;
}
@media(max-width: 479px) {
  .new-records2-container2 {
    top: 235px;
    left: 0px;
    width: 100%;
    height: 95%;
    position: absolute;
  }
  .new-records2-text {
    font-size: 300%;
  }
  .new-records2-input {
    font-size: 170%;
  }
  .new-records2-textinput {
    font-size: 170%;
  }
  .new-records2-textinput1 {
    font-size: 170%;
  }
  .new-records2-text7 {
    align-self: center;
  }
}

button:hover{
  background-color: #efefef;
}