.new-records1-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #7A003C;
  padding-top: 120px;
}

.dropdown-content {
  display: none;
  position: relative;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  width: 60%;
}

.dropdown-content button {
  color: black;
  text-decoration: none;
  display: block;
  width: 100%;
}

.dropdown-content button:hover{
  background-color: lightgrey;
}

.new-records1-container1 {
  top: 0px;
  right: 0px;
  width: 60%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  opacity: 1;
  position: absolute;
  align-items: center;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding-top: 120px;
}
.new-records1-text {
  color: var(--dl-color-gray-black);
  font-size: 300%;
  align-self: center;
}
.new-records1-textinput {
  color: var(--dl-color-gray-black);
  width: 60%;
  font-size: 250%;
  border-color: var(--dl-color-gray-black);
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
}
.error-message1 {
  color: red;
  display: none;
  margin-top: 30px;
}
.new-records1-button {
  color: var(--dl-color-gray-black);
  font-size: 150%;
  margin-top: 30px;
  padding-top: 10px;
  border-style: none;
  padding-left: 50px;
  border-radius: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  text-transform: uppercase;
  background-color: #FDBF57;
}
.new-records1-container2 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 40%;
  bottom: 0px;
  height: 100px;
  margin: auto;
  display: flex;
  position: absolute;
  align-self: flex-start;
  align-items: center;
  padding-left: 30px;
  justify-content: center;
}
.new-records1-text4 {
  color: #ffffff;
  font-size: 300%;
}
.navbar {
  overflow: hidden;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  left: 0;
  min-width:100%;
  height: 75px;
}

.navbar a {
  padding-top: 12px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  color: #f1f1f1;
  width:19.5%;
  height: 75px;
  padding-left: 7.5%;
}

.navbar a:hover {
  background: #FFD100;
  color: black;
  cursor: pointer;
}

.navbar a.active {
  background-color: #ac1455;
  color: white;
}
@media(max-width: 479px) {
  .new-records1-text {
    font-size: 300%;
  }
  .new-records1-textinput {
    font-size: 170%;
  }
}

button:hover{
  background-color: #efefef;
}
