.workout-title{
  text-align: center;
  padding-bottom: 3%;
}

#back-button{
  position: relative;
  top: -47%;
  left: -27%;
  width: 10%;
}

.videos{
  display: flex;
  width: 100%;
  height: 50%;
  margin: auto auto;
  justify-content: center;
  
}

.video1{
  width: 35%;
  height: 100%;
  padding-right: 5%;
}

.video2{
  width: 35%;
  height: 100%;
  padding-left: 5%;
}