.grid {
  display: grid;
  background-color: aqua;
  width: 80%;
  height: 80%;
  align-content: center;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  margin: auto auto;
  /* grid-template-areas: 
    "arms  arms legs legs" 
    "arms  arms legs legs" 
    "chest chest chest  abs"
    "chest chest chest  abs"; */
  text-align: center;
  align-items: center;
  justify-content: center;
}

.title{
  color: black;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tutorials {
  display: flexbox;
  border: 5px solid;
  margin-left: auto;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.arms {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  width: 50%;
  margin-left: auto;
}

.legs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: green;
  width: 50%;
}

.chest {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: yellow;
  width: 50%;
  margin-left: auto;
}

.abs {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: purple;
  width: 50%;
}
