.grid {
  display: grid;
  /* background-color: aqua; */
  width: 80%;
  height: 100%;
  align-content: center;
  grid-template-columns: 0.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  margin: auto auto;
  /* grid-template-areas: 
    "arms  arms legs legs" 
    "arms  arms legs legs" 
    "chest chest chest  abs"
    "chest chest chest  abs"; */
  text-align: center;
  align-items: center;
  justify-content: center;
  row-gap: 5%;
  column-gap: 5%;
}

.title{
  color: black;
  padding-bottom: 2%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.tutorials {
  display: flexbox;
  margin-left: auto;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  height: 700px;
}

.arms {
  display: grid;
  grid-template-rows: 0.25fr 2fr;
  grid-template-columns: auto;
  align-items: center;
  /* justify-content: center; */
  background-color: lightcoral;
  width: 50%;
  margin-left: auto;
  margin-top: 0;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.legs {
  display: grid;
  grid-template-rows: 0.25fr 2fr;
  grid-template-columns: auto;
  align-items: center;
  /* justify-content: center; */
  background-color: lightskyblue;
  width: 50%;
  width: fit-content;
  height: auto;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.chest {
  display: grid;
  grid-template-rows: 0.25fr 2fr;
  grid-template-columns: auto;
  align-items: center;
  /* justify-content: center; */
  background-color: lightsalmon;
  width: 50%;
  margin-left: auto;
  width: fit-content;
  height: auto;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.abs {
  display: grid;
  grid-template-rows: 0.25fr 2fr;
  grid-template-columns: auto;
  align-items: center;
  /* justify-content: center; */
  background-color: lightgreen;
  width: fit-content;
  height: auto;
  width: 100%;
  height: 100%;
  border-radius: 25px;
}

.pic-box {
  height: 100%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
  margin-left: 0;
}

.box-content {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: auto;
  column-gap: 10%;
  height: fit-content;
}

.buttons-area {
  display: grid;
  row-gap: 5%;
  margin-right: 10%;
}

.nav-bar {
  padding-bottom: 2%;
}

h1{
  margin: 0;
}

button{
  border-radius: 20px;
}
