.nav-buttons {
    grid-area: nav;
}

.progress-page {
    grid-template-areas: 
    "nav nav nav nav nav"
    ".   im1 .   im1 .  ";
}

.site-nav {
}

.site-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    padding: 2px;
}

.section-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding: 10px;
    color: darkgray;
    font-family: "Montserrat";
}

.section-link:hover {
    color: maroon;
    text-decoration: underline;
}