.navbar-nav .navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

p {
    margin: 0;
    padding: 0;
}


h1 {
    font-size: 40px;
    text-align: center;
}
.grid-search {
    display: grid;
    row-gap: 15px;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: auto;
    margin: auto auto;
    align-items: start;
    justify-items: center;

}


.search{
    display: grid;
    row-gap: 15px;
}

.search > input {
    width: 85%;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 25px;
}


.button-grid{
    display:  grid;
    grid-template-columns:  5em 5em;
    justify-content:  end;
    margin-right:  7.25%
}

.button-grid > button {
    background-color: #2a90f5; /* Green */
    display:  inline-block;
    width: 70px;
    height: 50px;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 25px;
    font-size: 16px;
    margin-right: 12.5%;
    /*float:  right;*/
    justify-self: end; /* justify-self: start is for left allign within grids*/
}

.button-grid > button:hover {
    background-color: #312af5;
}



/*https://www.w3schools.com/howto/howto_css_menu_horizontal_scroll.asp#contact*/
.filters {
    width: 85%;
    margin: 0 auto;
    background-color: #f0f0f0;
    overflow: auto;
    white-space: nowrap;
    border: 1px solid black;
    border: 1px solid #000;
    border-radius: 25px;
    padding: 10px;
}

.filters::-webkit-scrollbar {
    height: 10px;
    
  }

  
  
.filters::-webkit-scrollbar-track {
    
    
  }
  
.filters::-webkit-scrollbar-thumb {
    background-color: rgb(0,0,0,0.5);
    border-radius: 20px;
    border: 3px solid rgb(0,0,0,0.5);
  }

  
.filters::-webkit-scrollbar-track-piece:end {
    margin-right: 15px; 
  }
  
.filters::-webkit-scrollbar-track-piece:start {
    margin-left: 15px;
  }


 .filter-button {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-right: 5px;
    background-color: #333;
    border-radius: 10px;
}

 .filter-button:hover {
    background-color: #777;
}


.filter-button:button {
    background-color: #777;
}

p {
    margin-left: 12.5%;
    font-size: 24px;
}

.results {
    width: 85%;
    height: 75%;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #000;
    border-radius: 25px;
    justify-content: center;


}

.result-item{
    display: grid;
    grid-template-columns: 1.25fr 5fr 1.5fr; /*picture info view/quickadd */
    grid-template-rows: auto;
    row-gap: 25px;
    width: 100%;
    height: 75px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #000;
    border-radius: 25px;
}

.selected-item{
    background-color: rgb(0,0,0,0.3);
}

.profile-frame{
    width: 50px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 100%;
    margin: auto;
    padding: 10px 10px;
}

.result-item > img{
  width: 100%;
  height: 100%;
}

.result-short-info{
    display: grid;
    grid-template-rows: 35px;
    margin-left: 0px;
}

.result-short-info > h2{
    font-size: 15px;
}

.result-short-info > p{
    font-size: 14px;
    text-align: start;
    margin: 0;
}

.results-button-grid{
    display: inline-grid;
    align-items: center;
    grid-template-rows: 0.75fr;
}

.results-button-add{
    height: 25px;
    width: 75%;
}

.results-button-view{
    height: 25px;
    width: 75%;
}

.preview-grid{
    width: 85%;
}

.preview{
    display: grid;  
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr; /* Picture, Name, Description, Filters, Button */
    width: 85%;
    height: 100%;

    border: 1px solid #000;
    border-radius: 25px;

    justify-content: center;
    align-items: center;
}

.preview-add-button{
    height: 25px;
    width: 75px;
    justify-self: end;
    border-radius: 25px;
    margin-right: 7.5%;
    font-size: 18px;
}

.preview-add-button:hover{
  background-color: rgb(0,0,0,0.5);
}

.preview-img-prop{
    margin-left: 15%;
    margin-top: 15%;
}
.preview > .img-border{
    width: 80px;
    height: 80px;
    border: 3px solid #000;
    border-radius: 100%;
    margin: auto;
    
}
.preview > h1{
    margin: 0;
    padding: 0;

}

.preview > p{
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    font-size: 15px;

}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: space-evenly;
    justify-items: center;
    align-content: end;
    align-items: center;

    /*border-top:  1px solid #000;*/

    margin-top: 15px; /* FIND A WAY TO make it stick to the bottom to prevent hard coding values like this */

    margin-left: 25px;
    margin-right: 25px;
}

.nav-bar-items {
    display: flex;
    align-items: center;
    justify-content: center;

    border:  1px solid #000;
    border-radius:  15px;
    width: 60px;
    height: 60px;
}

.nav-bar-items-active {
   background-color: #312af5;
}



